BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
# BinPackParameters: false
# AlignAfterOpenBracket: Align
# AllowAllParametersOfDeclarationOnNextLine: false
# BinPackArguments: false
# ExperimentalAutoDetectBinPacking: false
