#general
*.mri
*.o
*.out
*.log
tags
.svn
*.swp
*.autosave
.build_debug
*.dump
tmp
*.pyc
*.npy
.vscode
external
*.h5
debug
*.INFO*
*.dat
*.bmodel
*.profile
*.dot
*.svg
*.pb
*.gdb_history
*.log_txt
compilation*
obj
build
build_runtime
build_soc
out
build_zh
build_en
sgdnn/include/config_sgdnn_backend.h