argcomplete
Cython
dash
dash-bootstrap-components
dash-draggable
dash-split-pane
dash-table
enum34
GitPython
graphviz
grpcio
ipykernel
ipython
jedi
Jinja2
jsonschema
jupyterlab
kaleido
leveldb-312
lit
lmdb
matplotlib
networkx
nose
numpy
onnx
onnxruntime
onnxsim
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
paddle2onnx
pandas
paramiko
Pillow
plotly
protobuf
pybind11-global
pycocotools
pytest
pytest-xdist
python-dateutil
python-gflags
PyYAML
rst2pdf
scikit-image
scipy
six
Sphinx
sphinx-autobuild
sphinx-rtd-theme
tensorflow-cpu
termcolor
tf2onnx
torch
torchaudio
torchvision
tqdm
transformers
wheel
breathe
tpu-ppl
tokenizers
